@import '../../../style/theme';
.title-wrapper {
    h1 {
        font-family: $font-title-regular;
        font-weight: bolder;
        color: $color-primary;
    }
    hr {
        border: 0;
        height: 1px;
        background: linear-gradient(to right, $divider-color, rgba($primary-text, .5), rgba($primary-text, .2));
    }
}

.subtitle-wrapper {
    margin-top: 1.5rem;
    h2 {
        font-weight: lighter;
        font-family: $font-title-regular;
        border-bottom: #263238 2px;
    }
}