@import '../../../style/breakpoints';
@import '../../../style/theme';
@import '../../../style/mixins';

$border-rad: 25px;

.auth-logo_element {
  margin-top: 2rem;
  width: 50%;

  section {

    background-color: #ff1d00;
  }

  @include sm {
    width: 50%;
  }

  @include md {

    width: 50%;
  }

  @include lg {
    width: 40%;
  }
}

.auth-title_element {
  margin: 2rem 0;
  font-family: $font-title-regular;
  font-weight: bold;
}

// Menu transition
.fade-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.fade-exit {
  opacity: 1;
  transform: translateX(0%);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0%);
}

.fade-exit-active {
  opacity: 0;
  transform: translateX(100%);
}

.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms, transform 500ms;
}


.auth-error_wrapper {
  min-height: 1.1rem;
  color: $color-warning-light;
  width: 100%;

  .login-error_alert {
    border-radius: $border-rad;
  }
}

a:link {
  text-decoration: none;
}

.auth-link {
  color: $secondary-text;

  &:hover, &:active {
    font-weight: bold;
    opacity: .9;
    cursor: pointer;
    @include transition(all, 0.1s, cubic-bezier(0.65, 0, .076, 1));
  }
}


.login-form {
  @font-face {
    font-family: $font-body;
  }

  input {
    outline: none;
    border: none;
  }

  input:disabled {
    font-weight: normal;
    background-color: $background-color-dark;
  }

  input:focus::-webkit-input-placeholder {
    color: transparent;
  }

  input:focus:-moz-placeholder {
    color: transparent;
  }

  input:focus::-moz-placeholder {
    color: transparent;
  }

  input:focus:-ms-input-placeholder {
    color: transparent;
  }


  input::-webkit-input-placeholder {
    color: $secondary-text;
  }

  input:-moz-placeholder {
    color: $secondary-text;
  }

  input::-moz-placeholder {
    color: $secondary-text;
  }

  input:-ms-input-placeholder {
    color: $secondary-text;
  }

  textarea::-webkit-input-placeholder {
    color: $secondary-text;
  }

  textarea:-moz-placeholder {
    color: $secondary-text;
  }

  textarea::-moz-placeholder {
    color: $secondary-text;
  }

  textarea:-ms-input-placeholder {
    color: $secondary-text;
  }

  /*---------------------------------------------*/
  button {
    outline: none !important;
    border: none;
    background: transparent;
  }

  button:hover {
    cursor: pointer;
  }


  .auth100-form {
    width: 100%;
  }


  /*---------------------------------------------*/
  .wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
  }

  .input100 {
    font-family: $font-body;
    font-size: 15px;
    line-height: 1.5;
    color: $primary-text;

    display: block;
    width: 100%;
    background: $background-color-light;
    height: 50px;
    border-radius: $border-rad;
    padding: 0 30px 0 68px;
  }


  /*------------------------------------------------------------------
  [ Focus ]*/
  .focus-input100 {
    display: block;
    position: absolute;
    border-radius: $border-rad;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: $color-primary;
  }

  .input100:focus + .focus-input100 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
  }

  @-webkit-keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 70px 25px;
      opacity: 0;
    }
  }

  @keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 70px 25px;
      opacity: 0;
    }
  }

  .symbol-input100 {
    font-size: 15px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: $border-rad;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: $secondary-text;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .input100:focus + .focus-input100 + .symbol-input100 {
    color: $color-primary;
    padding-left: 28px;
  }

}


.button-container {
  $bg: #f3f8fa;
  $white: $color-light;
  $black: $color-accent;


  * {
    box-sizing: border-box;

    &::before, &::after {
      box-sizing: border-box;
    }
  }

  body {
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background: $bg;
  }

  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;

    &.learn-more {
      width: 12rem;
      height: auto;

      .circle {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
        position: relative;
        display: block;
        margin: 0;
        width: 3rem;
        height: 3rem;
        background: $black;


        border-radius: 1.625rem;

        .icon {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          background: $white;

          &.arrow {
            @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
            left: 0.625rem;
            width: 1.125rem;
            height: 0.125rem;
            background: none;

            &::before {
              position: absolute;
              content: '';
              top: -0.25rem;
              right: 0.0625rem;
              width: 0.625rem;
              height: 0.625rem;
              border-top: 0.125rem solid #fff;
              border-right: 0.125rem solid #fff;
              transform: rotate(45deg);
            }
          }
        }
      }

      .button-text {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.75rem 0;
        margin: 0 0 0 1.85rem;
        color: $black;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;
      }
    }

    &:hover {
      .circle {
        width: 100%;

        .icon {
          &.arrow {
            background: $white;
            transform: translate(1rem, 0);
          }
        }
      }

      .button-text {
        color: $white;
      }
    }
  }

  @supports (display: grid) {
    body {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 0.625rem;
      grid-template-areas: ". main main ." ". main main .";
    }

    #container {
      grid-area: main;
      align-self: center;
      justify-self: center;
    }
  }
}
