/**
  App Theme used throughout the App.
 */

$background-color: rgba(38, 50, 56, 0.07);
$background-color-light: rgba(55, 71, 79, 0);
$primary-text: #212121;
$secondary-text: #BDBDBD;
$divider-color: #BDBDBD;
$text-icons: #212121;


$color-accent: #03A9F4;
$color-accent-light: rgba(3, 169, 244, 0.29);
$color-accent-dark: #022a3b;


$color-primary: #FF9800;
$color-primary-light: #FFE0B2;
$color-primary-dark: #F57C00;

$color-warning: #ff2f00;
$color-warning-light: #ffc1b3;
$color-warning-dark: #ff1d00;


$color-success: #00695c;
$color-success-light: #60ad5e;
$color-success-dark: #005005;


$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
