@import '../../../../../style/theme';

input.text-input {
  font-size: medium;
  size: 2rem;
  color: $primary-text;
  border: none;
  background-color: $background-color;
  height: 2.3rem;
  border-radius: 2px;
  margin: .2rem;
  padding-left:  1rem;

  &:focus {
    outline: none;
  }

}
