@import '../../../../../style/theme';


button.button-loading {
  padding: .5rem;
  width: 5rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  color: $primary-text;
  border: none;
  background-color: $background-color;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}
