.disk-area-wrapper {
    .classify-simple-logo {
        width: 100%;
        max-width: 468px;
    }
    .file-selection-wrapper {}
    // align-items: flex-start;
}

.footer {
    bottom: 0%;
    position: fixed;
}