@import 'src/style/theme';
@import 'src/style/mixins';

.delete-button {
  background-color: #91262D;
  font-weight: bold;
  font-size: 10px;
  float: right;
  margin-bottom: 10px;
}
.device-card {
  height: 8rem;
  margin: 10px;

}
