@import "../style/theme";


body {
  margin: 0;
  background-color: $background-color;
  font-family: $font-body,
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primary-text;
}


